<section class="education-experience">
	<h2>EDUCATION & EXPERIENCE</h2>
	<div class="education-experience-content">
		<div class="education">
			<h3>Bachelor's Degree in Computer Science</h3>
			<p class="institution">UNIVERSIDAD FRANCISCO MARROQUÍN</p>
		</div>
		<div class="experience">
			<h3>Software Developer - crafting digital solutions for modern applications.</h3>
			<p class="company">FREELANCE</p>
		</div>
	</div>
</section>

<section>
	<h2>Educación</h2>
	<table class="education-table">
		<caption>Formación Académica y Títulos Obtenidos</caption>
		<thead>
			<tr>
				<th scope="col">Período</th>
				<th scope="col">Institución</th>
				<th scope="col">Título</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2023 - Presente</td>
				<td>Universidad Francisco Marroquín</td>
				<td>Ingeniería en Ciencias de la Computación</td>
			</tr>
			<tr>
				<td>2011 - 2022</td>
				<td>Centro Escolar el Roble</td>
				<td>Bachillerato Internacional</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Experiencia Laboral</h2>
	<table class="education-table">
		<caption>Historial Profesional y Cargos Desempeñados</caption>
		<thead>
			<tr>
				<th scope="col">Período</th>
				<th scope="col">Empresa</th>
				<th scope="col">Cargo</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nov 2024 - Dic 2024</td>
				<td>Photoland GT</td>
				<td>Encargado de Caja</td>
			</tr>
			<tr>
				<td>Nov 2023 - Dic 2023</td>
				<td>Artek</td>
				<td>Asesor de Ventas</td>
			</tr>
			<tr>
				<td>Ene 2021 - Ago 2024</td>
				<td>Artek</td>
				<td>Encargado de Operaciones</td>
			</tr>
		</tbody>
	</table>
</section>
